header {
    display: flex;
}

#logo {
    height: 100px;
}

#sol_y_luna {
    display: inline-block;
    margin-top: 30px;
}

#footer1 {
    background-image: url('Images/footer1.jpeg');
    margin-top: 10px;
    display:inline-block;
    height: 100px;
    width: 850px;
}

#footer2 {
    display: inline-block;
    width: 300px;
}

#footer2 #logo {
    position: relative;
    top: 10%;
}

#footer2 #sol_y_luna {
    position: relative;
    bottom: 15%;
}

#footer3 {
    display: inline-block;
    height: 100px;
}

#footer_text {
    position: relative;
    top: 40%;
    font-style: italic;
}

.redes {
    height: 50px;
    position: relative;
    top: 40%;
}

footer {
    display: flex;
}

#login1 {
    display: inline-block;
    height: 430px;
    width: 370px;
}

#login2 {
    display: inline-block;
}

#formulario {
    margin-top: 20px;
    margin-left: 20px;
    border: 10px solid darkturquoise;
    outline: 2px solid black;
    box-shadow: inset 0 0 0 2px black;
    height: 370px;
}

.login_images {
    margin-left: 10px;
    height: 250px;
    width: 300px;
    position: relative;
    bottom: 30px;
}

.input {
    margin-left: 10px;
    border: 0;
    background-color: darkturquoise;
    height: 30px;
    width: 300px;
}

#ingresar {
    margin-left: 110px;
}

#olvido {
    margin-left: 50px;
}

#boton {
    margin-left: 120px;
    margin-bottom: 10px;
    border-color: darkturquoise;
    border-radius: 10px;
    background-color: darkturquoise;
    height: 30px;
    width: 100px;
}

.label {
    margin-left: 10px;
}

.checkbox {
    margin-left: 120px;
}


#redes_ingreso {
    margin-left: 90px;
}

body {
    background-image: url('Images/fondo.jpeg');
    background-size: cover;
}

/* para anular el fondo en estas zonas */
header, footer, #formulario {
    background-color: #f7f7f7;
}

/* pantalla empleados */

/* parte izquierda */

#empleados1 {
    margin: 20px 20px 20px 20px;
    padding: 30px 30px 30px 30px;
    background-color: #f7f7f7;
    height: 146px;
    display: inline-block;
}

#text_emple1 {
    position:relative;
    bottom: 40px;
}

/* parte derecha */

#empleados2 {
    margin: 20px 20px 20px 20px;
    padding: 30px 30px 30px 30px;
    background-color: #f7f7f7;
    display: inline-block;
    border-radius: 10px;
    position: fixed;
}

#e_nombre {
    border-radius: 5px;
    border: 1px solid grey;
}

#cedula {
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}

#e_email {
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    width: 98%;
}

#ingresar_perso {
    margin-left: 65px;
}

#form_emple #boton {
    position: relative;
    right: 4%;
}

/* header */

#pestañas {
    display: inline-block;
    margin-left: 20px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 600px;
}

#b_usuario {
    padding: 10px 10px 25px 10px;
    margin-left: 20px;
    margin-top: 30px;
    border-color: darkturquoise;
    border-radius: 10px;
    background-color: darkturquoise;
    height: 30px;
    width: 100px;
}

/* clientes */

/* parte izquierda */

#clientes1 {
    display: inline-block;
}

.caption {
    background-color: black;
    color: white;
    border-radius: 20px;
    height: 30px;
    padding-top: 10px;
    text-align: center;
}

#figure1 {
    display: inline-block;
}

#figure2 {
    display: inline-block;
}

#figure3 {
    display: inline-block;
}

#figure4 {
    display: inline-block;
}

/* parte derecha */

#clientes2 {
    display: inline-block;
    margin: 20px 20px 20px 20px;
    border: 10px solid darkturquoise;
    outline: 2px solid black;
    box-shadow: inset 0 0 0 2px black;
    background-color: #f7f7f7;
    position: relative;
    bottom: 100px;
}

#cliente5 {
    height: 200px;
    padding: 20px 20px 20px 20px;
}

#form_clientes {
    background-color: darkturquoise;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}